<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    
    <!-- Cloud CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>

    <!-- 3D model -->
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>

    <!-- Local Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static 'formlessapp\basefiles\daisyui.css' %}" rel="stylesheet" type="text/css" />

    <style>{% block css %}{% endblock %}
        html,
        body {
          overflow: hidden;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #model-view {
          width: 100%;
          height: 84%;
          touch-action: none;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>

</head>

<body data-theme=night>
    <nav class="bg-gray-800">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

            <a href="/" class="flex items-center">
                <img src="{% static 'formlessapp\basefiles\CustomWheelz-logo.png' %}" class="h-8 mr-3 rounded-full"
                    alt="CustomWheelz LoGo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">CustomWheelz</span>
            </a>

            <button type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 hover:bg-gray-800 focus:ring-gray-800"
                onclick="toggleMenu()">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" id="menuBtn" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
                <svg class="w-6 h-6 hidden" id="closeBtn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="#6563ff"
                        d="m13.414 12 3.293-3.293a1 1 0 0 0-1.414-1.414L12 10.586 8.707 7.293a1 1 0 0 0-1.414 1.414L10.586 12l-3.293 3.293a1 1 0 0 0 1.414 1.414L12 13.414l3.293 3.293a1 1 0 0 0 1.414-1.414Z">
                    </path>
                    <path fill="#b2b1ff"
                        d="M19.07 4.93A10 10 0 1 0 4.93 19.07 10 10 0 1 0 19.07 4.93Zm-2.363 10.363a1 1 0 1 1-1.414 1.414L12 13.414l-3.293 3.293a1 1 0 0 1-1.414-1.414L10.586 12 7.293 8.707a1 1 0 0 1 1.414-1.414L12 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414L13.414 12Z">
                    </path>
                </svg>
            </button>


            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-gray-800 border-gray-700">

                    <li>
                        <a href="/"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-300 md:p-0 text-white md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li class="custom-link">
                    <li>
                        <a href="/customemodel"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent">CustomeModel</a>
                    </li>
                    <li>
                        <a href="/help"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent">Help</a>
                    </li>

                    <!-- <li>
                <a href="/about" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="/contact" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 text-white hover:bg-gray-700 hover:text-white md:dark:hover:bg-transparent">Contact</a>
              </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    {% block content %}{% endblock %}


    </div>
    </main>
    </div>

    <script type="text/javascript" src="{% static '\formlessapp\basefiles\script.js' %}"></script>
    <script type="text/javascript" src="{% static '\formlessapp\basefiles\tailwindcss.js' %}"></script>
    {% block js %}{% endblock %}

</body>

</html>