<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CDNs -->
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- awesome-font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    
    <title>Custom Wheels</title>
</head>
<body class="bg-black">
    <!-- Navbar -->
    <section class="grid grid-cols-6 h-12 text-white hover:text-gray-500">
        <a href="/" class=" font-sans text-2xl  mx-auto py-2">Custom Wheels</a>
        <div></div>
        <div></div>
        <div></div>
        
        {% if user.is_authenticated %}
            <div class="flex col-span-2">
                <a href="{% url 'select_model' %}" class="h-16">
                    <div
                        class="text-xl py-3 px-10 h-12 text-center hover:text-white hover:underline hover:underline-offset-8"
                    >
                        Select Model
                    </div>
                </a>
                <a href="{% url 'user_logout' %}" class="">
                    <div
                        class="text-xl py-3 px-10 h-12 text-center hover:text-white hover:underline hover:underline-offset-8"
                    >
                        <i class="fa-solid fa-user"></i> {{ user.username }}
                        <i class="fa-solid fa-right-from-bracket ml-2"></i>
                    </div>
                </a>
            </div>

        {% else %}
            <div></div>
            <a href="{% url 'user_login' %}">
            <div
                class="text-xl py-1 h-12 font-bold text-center hover:text-white hover:underline hover:underline-offset-8"
            >
                <i class="fa-solid fa-user"></i> Login
            </div>
            </a>
        {% endif %}

    </section>

    <!-- Hero -->
    <section class="px-10 text-gray-200 mt-[220px]">
        <div class="grid grid-cols-2 gap-10 my-10">
            <a href="{% url 'customemodel' %}" class="border rounded-xl shadow-sm hover:shadow-xl">
                <div class="p-20 text-2xl font-bold text-center">Car Model</div>
            </a>
            <a href="#" class="border rounded-xl shadow-sm hover:shadow-xl">
                <div class="p-20 text-2xl font-bold text-center">Bike Model</div>
            </a>
        </div>
    </section>

</body>
</html>