<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CDNs -->
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- awesome-font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    
    <title>Custom Wheels</title>
</head>
<body>
    <!-- Navbar -->
    <section class="grid grid-cols-6 h-12 border">
        <a href="/" class=" font-mono font-bold text-3xl text-green-800 mx-auto py-2"><i>Custom Wheels</i></a>
        <div></div>
        <div></div>
        {% if user.is_authenticated %}
            <a href="{% url 'select_model' %}" class="h-16 ">
                <div
                    class="text-xl py-3 h-12 font-bold text-center text-green-500 hover:text-green-900 hover:bg-green-100"
                >
                    Select Model
                </div>
            </a>
            <a href="{% url 'user_logout' %}" class="col-span-2">
                <div
                    class="text-xl py-3 h-12 font-bold text-center text-green-500 hover:text-green-900 hover:bg-green-100"
                >
                    <i class="fa-solid fa-user"></i> {{ user.username }}
                    <i class="fa-solid fa-right-from-bracket ml-2"></i>
                </div>
            </a>
        {% else %}
            <div></div>
            <div></div>
            <a href="{% url 'user_login' %}">
            <div
                class="text-xl py-1 h-12 font-bold text-center text-green-500 hover:text-green-900 hover:bg-green-100"
            >
                <i class="fa-solid fa-user"></i> Login
            </div>
            </a>
        {% endif %}
    </section>

    <!-- Hero -->
    <section class="px-10">
        <div class="grid grid-cols-2 gap-10 my-10">
            <a href="{% url 'customemodel' %}" class="border rounded-xl shadow-sm hover:shadow-xl">
                <div class="p-20 text-2xl font-bold text-center">Car Model</div>
            </a>
            <a href="#" class="border rounded-xl shadow-sm hover:shadow-xl">
                <div class="p-20 text-2xl font-bold text-center">Bike Model</div>
            </a>
        </div>
    </section>

</body>
</html>