<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CDNs -->
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- awesome-font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    
    <title>Custom Wheels</title>
</head>
<body>
    
    <!-- Navbar -->
    <section class="grid grid-cols-6 h-12 border">
        <div class="border font-mono font-bold text-2xl text-blue-700 my-auto mx-auto"><i>Custom Wheels</i></div>
    </section>

</body>
</html>